# Ambientes virtuais
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Variáveis de ambiente
.env
.env.*

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Arquivos enviados pelos usuários
backend/uploads/*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/